<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Edit Inmate</title>
  <%- include('../include.ejs') %>
</head>

<body class="container">
  <%- include('../menu.ejs') %>
  <% if (messages.error) { %>
  <div class="alert alert-danger" role="alert">
    <%- messages.error %>
  </div>
  <% } %>

  <div class="card">
    <div class="card-header">
      Edit Inmate
    </div>
    <div class="card-body">
      <form action="/inmates/update/<%= id %>" method="post">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off">
        </div>
        <div class="form-group">
          <label>Number:</label>
          <input type="text" class="form-control" name="number" value="<%= number %>" autocomplete="off">
        </div>
        <div class="form-group">
          <label>Phone Number:</label>
          <input type="text" class="form-control" name="phone_number" value="<%= phone_number %>" autocomplete="off">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-info" value="Update" />
        </div>
      </form>
    </div>
  </div>

</body>

</html>