<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Edit Keyword</title>
  <%- include('../include.ejs') %>
</head>

<body class="container">
  <%- include('../menu.ejs') %>
  <% if (messages.error) { %>
  <div class="alert alert-danger" role="alert">
    <%- messages.error %>
  </div>
  <% } %>

  <div class="card">
    <div class="card-header">
      Edit Keyword
    </div>
    <div class="card-body">
      <form action="/keywords/update/<%= id %>" method="post">
        <div class="form-group">
          <label>Keyword:</label>
          <input type="text" class="form-control" name="keyword" value="<%= keyword %>" autocomplete="off">
        </div>
        <div class="form-group">
          <label>Content:</label>
          <textarea class="form-control" name="content" cols="30" rows="10"><%= content %></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-info" value="Update" />
        </div>
      </form>
    </div>
  </div>

</body>

</html>