<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Keywords</title>
  <%- include('../include.ejs') %>
</head>

<body class="container">
  <%- include('../menu.ejs') %>

  <% if (messages.success) { %>
  <div class="alert alert-success" role="alert">
    <%- messages.success %>
  </div>
  <% } %>

  <% if (messages.error) { %>
  <div class="alert alert-danger" role="alert">
    <%- messages.error %>
  </div>
  <% } %>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills w-100 justify-content-between">
        <li class="nav-pill active">
          <a class="nav-link">Keywords</a>
        </li>
        <li class="nav-pill ml-auto">
          <a class="nav-link active" href="/keywords/add">Add Keyword</a>
        </li>
      </ul>
    </div>
    <div class="card-body">

      <% if(data.length) { %>
      <table class="table table-striped table-hover table-success align-middle">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Keyword</th>
            <th scope="col">Content</th>
            <th width="200px">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i< data.length; i++) { %>
          <tr>
            <th scope="row">
              <%= (i+1) %>
            </th>
            <td>
              <%= data[i].keyword%>
            </td>
            <td>
              <%= data[i].content.slice(0, 20)%>
            </td>
            <td>
              <a class="btn btn-success edit" href="../keywords/edit/<%=data[i].id%>">Edit</a>
              <a class="btn btn-danger delete" href="../keywords/delete/<%=data[i].id%>">Delete</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } %>

      <!-- if result is empty -->
      <% if(!data.length) { %>
      <p class="text-center">No Keyword found!</p>
      <% } %>

    </div>
  </div>

</body>

</html>